# OS:
.DS_Store
desktop.ini
Thumbs.db

# IDE:
.idea/*
.settings/*
.vscode/*
bin/*
.classpath
.project
*.code-workspace
*.iml
*.ipr
*.iws
*.launch
*.sublime-project
*.sublime-workspace
*.suo

# Build:
.gradle/*
build/*
out/*
classes/*
remappedSrc/*
run/*

# Ignore
ignore/*
